<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Making Money : 자전거길 검색</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">
	
	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Jne19fSZiXCHrBUaWjRX"></script>
	<!-- Naver map API-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Making Money</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/">Services</a>
                    </li>
                    <li>
                        <a href="/about#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

		<div class="panel panel-default">
			<div class="panel-heading">축제 목록들</div>
			<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>축제명</th>
						<th>날짜</th>
						<th>장소</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>축제명1</td>
						<td>20170627</td>
						<td>통영</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>축제명2</td>
						<td>20170627</td>
						<td>전주</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	
	
		<div class = "pagination">
			<li><a href="#">Prev</a></li>
			<li><a href="#">Next</a></li>
		</div>
	<div class="row">

		<div class="col-sm-4 col-lg-4 col-md-4">
			<div class="thumbnail">
				<img src="http://placehold.it/320x150" alt="">
				<div class="caption">
					<h4><a href="#">서울</a>
					</h4>
				</div>
				<div class="ratings">
					<p class="pull-right"><%= reviews1 %> reviews</p>
					<p>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-lg-4 col-md-4">
			<div class="thumbnail">
				<img src="http://placehold.it/320x150" alt="">
				<div class="caption">
					<h4><a href="#">경기 인천</a>
					</h4>
					<p><%= strname2 %></p>
				</div>
				<div class="ratings">
					<p class="pull-right"><%= reviews2 %> reviews</p>
					<p>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-lg-4 col-md-4">
			<div class="thumbnail">
				<img src="http://placehold.it/320x150" alt="">
				<div class="caption">
					<h4><a href="#">경상</a>
					</h4>
					<p><%= strname3 %> </p>
				</div>
				<div class="ratings">
					<p class="pull-right"><%= reviews3 %> reviews</p>
					<p>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-lg-4 col-md-4">
			<div class="thumbnail">
				<img src="http://placehold.it/320x150" alt="">
				<div class="caption">
					<h4><a href="#">전라</a>
					</h4>
					<p><%= strname4 %> </p>
				</div>
				<div class="ratings">
					<p class="pull-right"><%= reviews4 %> reviews</p>
					<p>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-lg-4 col-md-4">
			<div class="thumbnail">
				<img src="http://placehold.it/320x150" alt="">
				<div class="caption">
					<h4><a href="#">충청</a>
					</h4>
					<p><%= strname5 %></p>
				</div>
				<div class="ratings">
					<p class="pull-right"><%= reviews5 %> reviews</p>
					<p>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
    </div>
    <!-- /.container -->


    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; MakingMoney 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
