<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Making Money : 자전거길 검색</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">
	
	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Jne19fSZiXCHrBUaWjRX"></script>
	<!-- Naver map API-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<!--네이버 지도를 띄우기 위함-->
	<script type="text/javascript">
	window.open("__data__");
	
	</script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Making Money</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/">Services</a>
                    </li>
                    <li>
                        <a href="/about#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

		<!-- 검색 기능 -->
            <div class="col-md-3">
                <p class="lead">Search</p>
					<form name="myform" method = "POST">
					<div class = "form-group">
						<label>도시 </label>
						<input type ="text"  name="city" id="city">
						<input type="submit" class="btn btn-success" value ="검색">
						</div>
					</form>
            </div>

            <div class="col-md-9">
<!-- 설명란 -->
				<% var explain = "설명이 없습니다. 이 길에 대해 설명을 해줄 사람이 되어주세요!",
						path_name = "자전거길",
						good = 0,
						bad = 0,
						reviews=0,
				%>
                <div class="thumbnail">
					<div id="map2" style="width:800px;height:300px;"></div>
					<script>
								
								//Geolocation API에 액세스할 수 있는지를 확인
								if(navigator.geolocation)
									//위치 정보를 얻기
								   navigator.geolocation.getCurrentPosition(success,error);
								// 크롬에서 GS 좌표 얻을 수 있게
								else
								   elt.innerHTML="이 브라우저에서는 Geolocation이 지원되지 않습니다.";
								
								function error(e){
									elt.innerHTML="Geolocation 오류"+e.code+":"+e.message;
								}//에러 발생시 수행 코드
								
								function success(pos){
									var mapOptions = {
										center : new naver.maps.LatLng(pos.coords.latitude,pos.coords.longitude),
										zoom : 10
											         };
									var map = new naver.maps.Map('map2',mapOptions);

								}//성공시 수행 코드

					</script>
                    <div class="caption-full">
                        <h4><a href="#"><%= path_name %></a>
                        </h4>
                        <p>자전거 경로에 대해서 알기 위해서 옆의 사이트를 참고하세요<a target="_blank" href="http://www.naver.com">map.naver.com</a>.</p>
						<%= explain %>
                    </div>
                    <div class="ratings">
                        <p class="pull-right"><%= reviews %></p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>
<!-- 덧글 작업란 -->
                <div class="well">
                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>덧글1</p>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>덧글2!</p>
                        </div>
                    </div>
<!-- 덧글의 끝 -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; MakingMoney 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
